#new1 {
  padding: 0 1em 1em 1em;
}
fieldset {
  padding: 0 1em 1em 1em;
  /*border: 1px solid #cfd3d3;*/
}

legend {
  padding: 1em;
}

#fieldset1 {
	padding: 0;
}

label {
	float: left;
	clear: left;
	width: 10em;
}	
.bolder {
  font-weight:bold;
  font-size:1.5em;
}

/* FORM BUTTONS */


/* FORM BUTTONS */

.button1, .button2, .btn, #main_nav div .cta a:hover { 	
	border: 1px solid #636868;
	color: #ffffff;
        background:green;
}
.button1, .button2, .button3, .btn {
	font: 15px "Trebuchet MS", Arial, sans-serif;
	display: block;
	text-align: center;
	padding: 2px 22px;
	cursor: pointer;
	overflow: hidden;
	margin: 0 10px 10px 10px;
	
.button2 {
	padding: 2px 20px;
	margin: auto;
	line-height: 15px;
}
.button3 {
	width: 141px;
	float: left;
	padding: 2px 0 0 0;
	margin: 0px 11px 1px 41px;
	height: 17px;
	line-height: 14px;
}
.button1:hover, .button2:hover, .button3:hover {
	background-image: none;
	color: #ffffff;
}

